.var {
  color: #004896;
  /* border-bottom: 1px solid */
}

.header-sm {
  font-weight: 300;
}

body {
  background: #fafbfc
}

a[data-enabled=false] {
  pointer-events: none;
  color: gainsboro !important;
}

.alert:empty {
  display: none;
}